[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.9"

echo '[FORMAT]
good-names=i,j,ex,pk

[MESSAGES CONTROL]
disable=broad-except

[MASTER]
disable=C0114,
' > .pylintrc
